@font-face {
  font-family: "DancingScript";
  src: url("./fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.top-buttons {
  display: flex;
  width: 100%;
  padding: 10px 0;
  background: white;
  justify-content: space-between;
}

.nav-button-contact {
  background: #f54127;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 7.5vw;
}

.nav-button {
  background: #f54127;
  color: white;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 7.5vw;
}

.social-media {
  display: flex;
  justify-content: right;
}

.fb {
  margin-right: 0.3vw;
}

.envelope {
  margin-right: 2vw;
}

.nav-links {
  display: flex;
  margin: 0 7.5rem;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.nav-link {
  color: #f54127;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: bold;
}

.logo-link {
  height: 10rem;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation__main {
  margin-top: 5rem;
  /* margin: 0 7.5rem; */
}

.presentation__main--title {
  height: 30vh;
  margin: 0 7.5rem;
  display: flex;
}

.top-left-presentation {
  width: 25vw;
  margin-right: 3rem;
  margin: 0 7.5rem;
}

.styled-text__presentation {
  font-family: "DancingScript", sans-serif;
  font-size: 3rem;
  text-align: right;
}

.sub-presentation {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  color: #25824d;
}

.top-right-presentation {
  width: 100%;
}

.top-right-presentation {
  font-size: 1.7rem;
}

.CTA-link {
  margin-top: 8rem;
  color: #f54127;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}

.presentation__CTA {
  background: #25824d;
  height: 100vh;
  width: 100%;
  color: white;
  margin-top: 12rem;
  display: flex;
  padding: 0 7.5rem;
  padding-top: 5rem;
  padding-bottom: 20rem;
  flex-direction: row;
}

.presentation__CTA--flex {
  display: flex;
  flex-direction: column;
  width: 27vw;
}

.img-container {
  display: flex;
  height: 100%;
}

.CTA-img {
  height: 10rem;
}
