@font-face {
  font-family: "DancingScript";
  src: url("./fonts/DancingScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.top-buttons {
  display: flex;
  width: 100%;
  padding: 10px 0;
  background: white;
  justify-content: space-between;
}

.nav-button-contact {
  background: #f54127;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 7.5vw;
}

.nav-button {
  background: #f54127;
  color: white;
  border: none;
  padding: 0px 20px;
  cursor: pointer;
  border-radius: 8px;
  margin-right: 7.5vw;
}

.social-media {
  display: flex;
  justify-content: right;
}

.fb {
  margin-right: 0.3vw;
}

.envelope {
  margin-right: 2vw;
}

.nav-links {
  display: flex;
  margin: 0 7.5vw;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
}

.nav-link {
  color: #f54127;
  text-decoration: none;
  padding: 15px 10px;
  font-weight: bold;
}

.logo-link {
  height: 10rem;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.presentation {
  display: flex;
  flex-direction: column;
}

.presentation__main {
  margin-top: 2.5rem;
}

.presentation__main--title {
  height: 8rem;
  margin: 0 7.5vw;
  display: flex;
}

.top-left-presentation {
  width: 15vw;
  margin-right: 3rem;
  margin: 0 7.5vw;
}

.styled-text__presentation {
  font-family: "DancingScript", sans-serif;
  font-size: 2.2rem;
  text-align: right;
}

.sub-presentation {
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
  color: #25824d;
}

.top-right-presentation {
  width: 100%;
  /* font-size: 1.5rem; */
}

.CTA-link {
  margin-top: 8rem;
  color: #f54127;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}

.presentation__CTA {
  background: #25824d;
  width: 100%;
  color: white;
  margin-top: 7.5rem;
  display: flex;
  padding: 0 7.5vw;
  padding-top: 5rem;
  padding-bottom: 4rem;
  flex-direction: row;
}

.presentation__CTA--flex {
  display: flex;
  flex-direction: column;
  width: 24vw;
  margin-right: 2rem;
}

.img-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.CTA__title {
  text-align: center;
  font-family: "DancingScript", sans-serif;
  font-size: 2.5rem;
  color: black;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.CTA-img {
  height: 10rem;
}

.top-description {
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.CTA-description {
  margin-bottom: 4.5rem;
}

.CTA-button {
  background-color: white;
  border: none;
  width: 18rem;
  justify-content: center;
  border-radius: 15px;
  padding: 0.2rem;
  color: #f54127;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.CTA-photo-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
  width: 44%;
}

.imgs-CTA-grid {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projets {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
}

.top-left-presentation-projets {
  width: 8vw;
  margin-right: 3rem;
  margin: 0 7.5vw;
  text-align: right;
}

.styled-text__presentation-projets {
  font-family: "DancingScript", sans-serif;
  font-size: 2.5rem;
  text-align: right;
}

.sub-presentation-projets {
  text-align: right;
  font-weight: bold;
  font-size: 2rem;
  color: #25824d;
}

.grid-actu {
  width: 100%;
  margin-right: 7.5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2vw;
}

.bloc-actu {
  position: relative;
  width: 100%;
}

.actu-img {
  width: 100%;
  object-fit: cover;
}

.head-actu-date {
  margin-top: 2rem;
  font-weight: bold;
}

.actu-txt {
  margin-top: 2rem;
}

.link-actu {
  text-decoration: none;
  color: #25824d;
  font-style: italic;
  margin-top: 3rem;
  display: block;
  text-align: right;
}

.link-autres {
  text-decoration: none;
  color: #f54127;
  font-style: italic;
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: block;
  text-align: right;
}

.footer {
  background-color: #25824d;
  height: auto;
  padding: 2rem 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  height: auto;
  margin-bottom: 1rem;
}

.footer-infos {
  font-size: 0.9rem;
  text-align: center;
  margin: 0 1rem;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2rem;
}

.footer-nav a {
  text-decoration: none;
  color: black;
  margin-bottom: 0.5rem;
}
